@import "./../base.scss";

$tab-color: rgb(228, 232, 239);
$tab-not-active-color: gray;
$tab-active-color: white;

.auth-tab {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 6px;
  background-color: $tab-color;
}

.auth-tab__login,
.auth-tab__signup {
  flex: 1;
}

.auth-tab a {
  display: block;
  width: 100%;
  padding: 4px 0;
  text-align: center;
  border-radius: 5px;
  color: $tab-not-active-color;
  font-weight: normal;
}

.auth-tab a.active {
  background-color: $tab-active-color;
  color: $txt-link-color;
  font-weight: bold;
}
