.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f4f6;

  &__logo {
    width: 75px;
  }

  &__navigation {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.header__navigation__button__login:hover {
  background-color: #f0f4f9;
}

.header__navigation__button__signup:hover {
  background-color: #3a547a;
}
