.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f4f6;

  &__logo {
    width: 75px;
  }

  &__navigation {
    display: flex;
    gap: 10px;
    align-items: center;

    &__button__login {
      background-color: white;
      color: #3a547a;
      border: 1px solid #3a547a;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &__button__signup {
      background-color: #486896;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid #486896;
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
}

.header__navigation__button__login:hover {
  background-color: #f0f4f9;
}

.header__navigation__button__signup:hover {
  background-color: #3a547a;
}
