$base-color: #486896;
$txt-link-color: #2f68bd;
$form-border-color: #f2f2f2;


a {
  text-decoration: none;
  color: inherit;
}

.base-txt {
  text-align: center;
  color: $base-color;

  &__link {
    color: $txt-link-color !important;
  }
}

.base-btn {
  background-color: $base-color;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid $base-color;
  display: flex;
  align-items: center;
  gap: 4px;

  &__white {
    background-color: white;
    color: #3a547a;
    border: 1px solid #3a547a;
  }

  &__account {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
  }
}

