$base-color: #486896;
$txt-link-color: #2f68bd;
$form-border-color: #f2f2f2;


a {
  text-decoration: none;
  color: inherit;
}

.base-txt {
  text-align: center;
  color: $base-color;

  &__link {
    color: $txt-link-color !important;
  }
}

.base-btn {
  background-color: $base-color;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid $base-color;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  &__white {
    background-color: white;
    color: #3a547a;
    border: 1px solid #3a547a;
  }

  &__form {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
  }
}


.base-btn:hover {
  background-color: darken($base-color, 10%);
  color: white;
}

.base-btn__white:hover {
  background-color: rgb(246, 245, 249);
  color: darken(#3a547a, 10%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
              "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
