@import './base.scss';

.home__hero {
  background-color: #f7faff;

  &__text {
    text-align: center;
    padding: 3rem 1rem 1rem 1rem;

    &__five-step {
      font-size: 2.5rem;
      font-weight: 800;
      line-height: 1.3;
      color: #1e293b;

      .five-step__blue {
        color: $txt-link-color;
      }
    }

    &__simple {
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.75;
      color: $base-color;
    }
  }

  &__startButton {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 8px;
    padding-bottom: 3rem;
  }
}
