@import './base.scss';

.home {
  background-color: #f7faff;

  .home__hero {

    &__text {
      text-align: center;
      padding: 3rem 1rem 1rem 1rem;

      &__five-step {
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.3;
        color: #1e293b;

        .five-step__blue {
          color: $txt-link-color;
        }
      }

      &__simple {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.75;
        color: $base-color;
      }
    }

    &__startButton {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      gap: 8px;
      padding-bottom: 3rem;
    }

    &__step-line {
      border: 0.125rem solid #d1d5db;
      position: relative;
      top: 3rem;

      @media screen and (max-width: 568px) {
        display: none;
      }
    }
  }

  .home__features {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: 0 auto;
    padding-bottom: 3rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(3, minmax(0, 1fr)); // タブレット以上で3列
    }

    &__item {
      display: grid;
      justify-items: center;
      gap: 4px;

      &__icon {
        padding: 0.75rem;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e6e9ed;
        color: $base-color;
      }

      &__title {
        font-size: 1.25rem;
        font-weight: 600;
        color: #1e293b;
      }

      &__description {
        font-size: 1rem;
        color: #475569;
      }
    }
  }

  &__step-flow {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    position: relative;

    @media screen and (max-width: 568px) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    &__icon {
      width: 56px;
      height: 56px;
      size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #486896;
      border-radius: 50%;
      color: white;
    }

    &__item {
      display: grid;
      justify-items: center;
      text-align: center;
      gap: 8px;
    }

    &__number {
      font-size: 1.5rem;
      font-weight: 600;
      color: #1c1919;
    }

    &__title {
      font-size: 1.25rem;
      font-weight: 600;
      color: #1e293b;
      margin-top: 0.5rem;
    }

    &__description {
      font-size: 1rem;
      color: #475569;
      margin-top: 0.5rem;
    }
  }
}

.step-icon {
  height: 20px;
}
