.resume-detail
  .resume-detail__header
    h1.resume-detail__title 職務経歴書
    - if @user.is_guest?
      = render "guest_header"

  .resume-detail__toggle
    .toggle-switch
      .toggle-switch__option.toggle-switch__option--active data-view="summary"
        | 経歴書
      .toggle-switch__option data-view="detail"
        | 経歴一覧

  .resume-content
    .resume-view data-view-target="summary"
      = render "summary", resume: @resume

    .resume-view.resume-view--hidden data-view-target="detail"
      = render "detail", resume: @resume

  .resume-detail__actions(style="display: flex;")
    = link_to "トップページへ戻る", root_path, class: "base-btn base-btn__white"
    = link_to "経歴を追加する", new_resume_path, class: "base-btn base-btn__white"